.character_image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.dead {
    opacity: .5;
}

body {
    background-image: url("../img/stage.png");
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    background-position: center;
}