body {
    background-image: url("../img/stage.png");
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    background-position: center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Permanent Marker', cursive;
    
}

h1 {
    font-size: 40px;
}


.character_image {
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width: 150px;
    margin: 8px 10px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
    background: white ;
    
}
.logo {
    margin-bottom: 50px;
}


.all_text {
    text-align: center;
    background-color: rgb(240, 236, 236);
    background-size: cover;
    background-position: 50%;
    margin: 8px 10px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);

}
.audio_container {
    text-align: center;
}
.instructions {
    text-align: center;
}
.player {
    margin-top: 10px;
}
.dead {
    opacity: .5;
}


